################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Updater/bin
/Updater/obj
/CommonUtils/bin
/CommonUtils/obj
/SiteBuilder/bin
/SiteBuilder/obj
/TestSandBox/bin
/TestSandBox/obj
XMLDocReader/bin
XMLDocReader/obj
/Deployment/obj
Deployment/bin
/CSharpUtils/bin
/CSharpUtils/obj
PageCreator/bin
PageCreator/obj
/CoreToAsset/bin
/CoreToAsset/obj
/CoreToCLIFolder/bin
/CoreToCLIFolder/obj
/BaseDevPipeline/bin
/BaseDevPipeline/obj
/UpdateReleaseNotes/bin
/UpdateReleaseNotes/obj
