################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Updater/bin
/Updater/obj
/CommonUtils/bin
/CommonUtils/obj
/SiteBuilder/bin
/SiteBuilder/obj
/TestSandBox/bin
/TestSandBox/obj
XMLDocReader/bin
XMLDocReader/obj
/Deployment/obj
Deployment/bin
/CSharpUtils/bin
/CSharpUtils/obj
PageCreator/bin
PageCreator/obj
/CoreToAsset/bin
/CoreToAsset/obj
/CoreToCLIFolder/bin
/CoreToCLIFolder/obj
/BaseDevPipeline/bin
/BaseDevPipeline/obj
/UpdateReleaseNotes/bin
/UpdateReleaseNotes/obj
/CoreToSiteSource/obj
/CoreToSiteSource/bin
/DevSiteBuild/bin
/DevSiteBuild/obj
/DevSiteFullBuild/bin
/DevSiteFullBuild/obj
/CreateAndCommitReadmes/bin
/CreateAndCommitReadmes/obj
/CreateReadmes/bin
/CreateReadmes/obj
/UpdateProjectsVersion/bin
/UpdateProjectsVersion/obj
/UpdateAndCommitProjectsVersion/bin
/UpdateAndCommitProjectsVersion/obj
/UpdateTestAndCommitProjectsVersion/bin
/UpdateTestAndCommitProjectsVersion/obj
/UnityToSiteSource/obj
/UnityToSiteSource/bin
/PullSolutionsWithMaintainedReleases/bin
/PullSolutionsWithMaintainedReleases/obj
/DevExportPackage/bin
/DevExportPackage/obj
/DevFullMaintaining/bin
/DevFullMaintaining/obj
/MakeRelease/bin
/MakeRelease/obj
/StartNewVersion/bin
/StartNewVersion/obj
/DevBuildExamples/obj
/DevBuildExamples/bin
/CoreToInternalCLIDist/bin
/CoreToInternalCLIDist/obj
/PipelinesTests/obj
