################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Updater/bin
/Updater/obj
/CommonUtils/bin
/CommonUtils/obj
/SiteBuilder/bin
/SiteBuilder/obj
/TestSandBox/bin
/TestSandBox/obj
