<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="solutionPath" value="%USERPROFILE%/Documents/GitHub/SymOntoClay"/>
    <add key="targetVersion" value="0.2.7.0"/>
    <add key="copyright" value="Copyright © 2020 - 2021 Sergiy Tolkachov aka metatypeman"/>
    <add key="smallLicenceFile" value="%APPDIR%/smallLicence.txt"/>
  </appSettings>
</configuration>