<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConsoleWrapper.WriteOutputToTextFileAsParallel" value="true"/>
		<add key="ConsoleWrapper.UseNLogLogger" value="true"/>
		<add key="ConsoleWrapper.WriteCopyright" value="true"/>
		<add key="GlobalOptions.EnableTests" value="false"/>
		<add key="GlobalOptions.EnableUnityPackage" value="true"/>
	</appSettings>
</configuration>