<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="siteName" value="symontoclay.github.io"/>
    <add key="kindOfTargetUrl" value="Path"/>
    <add key="rootPath" value="%USERPROFILE%/Documents/GitHub/symontoclay.github.io/"/>
    <add key="rootPath1" value="%USERPROFILE%/source/repos/symontoclay.github.io/"/>
    <add key="sourcePath" value="%SITE_ROOT_PATH%/siteSource/"/>
    <add key="destPath" value="%SITE_ROOT_PATH%/"/>
    <add key="tempPath" value="%SITE_SOURCE_PATH%/temp"/>
  </appSettings>
</configuration>