<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="siteName" value="symontoclay.github.io"/>
    <add key="kindOfTargetUrl" value="Domain"/>
    <add key="sourcePath" value="%USERPROFILE%/source/repos/symontoclay.github.io/siteSource/"/>
    <add key="destPath" value="%USERPROFILE%/source/repos/symontoclay.github.io/"/>
    <add key="tempPath" value="%SITE_SOURCE_PATH%/temp"/>
  </appSettings>
</configuration>